* {

	margin: 0px;
	padding: 0px;
	font-family: arial;
}


/* Posicionamiento de divs */



#header {
	height: 4em;
	background-color: #B8C5D6;
	margin-bottom: .5em;
	margin-top: .5em;
}




#header div {
position: relative 100%;
float:left;
 font-family: arial;
display:inline-block;

 }



#header div:first-child {
  padding: .3em ;


}

 #header div:nth-child(2) {

    padding: .3em ;
    margin: 1.5em .1em .1em .1em;
    margin-right: 10%;
  
}

 #header div:nth-child(3) {
    padding: .3em ;
    margin: .2em .1em .1em .1em;
    font-size: 1em;
    font-family: arial;
  
}	

 #header div:nth-child(4) {
    padding: .3em ;
    margin: .2em .1em .1em .1em;
 
}

 #header div:nth-child(5) {
    padding: .3em ;
   margin: .2em .1em .1em .1em;
}	


#topcenter {
	height: 2em;
	background-color: #ffffff;
	margin-bottom: .5em;
	text-align: center;
	
}



 #left {
	height: 33em;
	width: 48%;
	background-position: relative;
	background-color: #fff;
	float: left;
	margin: .5em .10em .10em 1em;

	
}

 #left img {

	float: right;
	padding: .5em;
	border-radius: .5em;

}

#left div:first-child {
  
  margin-top: 3em;
  margin-right: 3em;


}

 #left div:nth-child(2) {

   margin-right: 3em;
   margin-top: 3em;
}



#right {
	height: 26em;
	width: 48%;
	padding: .5em ;
	background-position: relative;
	background-color: #fff;
	float:left;
	margin-bottom: .5em;

}

#right form {
  margin-right: 3em;
  

}

 
  

 #footer {
	height: 3.5em;
	background-color: #B8C5D6;
	clear: both;
	text-align: center;

}


/*Textos y vinculos*/



a{
    
    text-decoration: none;
    
}

a:link {
    
    color: #000000;
}

a:hover{
    
    color: #8898BC;
}

a:visited{
    
    color: #fff;
}


/* Botones*/



#buttom1{
width:100px;
height: 30px;
font-size: 15px;
background-color: #8898BC;
color:#FFF;
border-radius: .2em;
}

#buttom2 {
width:310px;
height: 40px;
font-size: 20px;
background-color: #60A576;
color:#FFF;
border-radius: .2em;

}

#right form input[type="text"], input[type="submit"],input[type="password"] {
		    border: 1px solid #DCDCDC;
		    padding: .3em;
		    width: 300px;
		    font-size: 1em;
		    border-radius: .2em;
		}

select {

border: 1px solid #DCDCDC;
		    width: 310px;	
		    border-radius: .2em;
	        padding: .3em;
} 

#header form input[type="text"], input[type="submit"],input[type="password"] {
		    border: 1px solid #DCDCDC;
		    width: 200px;
		    font-size: 1em;
		    border-radius: .2em;
		    padding: .3em;

		}

#header input [type="checkbox"], a {

font-size: .8em;

}




