
* {

	margin: 0px;
	padding: 0px;
}


/* Posicionamiento de divs */


#general {
height: 615px;
background-color: #fff;
}

#header {
	height: 60px;
	background-color: #B8C5D6;
	margin-bottom: 10px;


}

#topcenter {
	height: 60px;
	background-color: #ffffff;
	margin-bottom: 10px;
	


}

.left {
	height: 415px;
	width: 495px;
	background-color: #Fff;
	float: left;
	margin-bottom: 10px;
	
}

.right {
	height: 415px;
	width: 495px;
	background-color: #fff;
	float: right;
	margin-bottom: 10px;

}

#footer {
	height: 50px;
	background-color: #B8C5D6;
	margin-bottom: 10px;
	clear: both;

}


/*Tablas y formularios*/


div .right #form {
margin-left:auto;
margin-right:auto;
font-family: arial;
font-size: 12px;
color: #000000;


}

th {
font-size: 16px;

}

.paneles {
position: relative;
font-family: arial;
font-size: 12px;
color: #000000;
float:right;
margin-right: 20px;


	}




/*Textos y vinculos*/

 p {

	font-size: 12px;
	color: #000000;
	font-family: arial;
	text-align: left; 
	margin-left: 25px;
	
}

 h1 {

	font-size: 20px;
	color: #000000;
	font-family: arial;
	margin-left:5px;

}


h2 {

	font-size: 20px;
	color: #000000;
	font-family: arial;
	text-align: center;
}

	.p {
		position: relative;
font-family: arial;
font-size: 12px;
color: #000000;
float:left;
margin-left: 20px;

	}

	#a,#b,#c,#d,#e,#f,#g,#h,#i {
   color: #CDCCC6;
		}

a{
    
    text-decoration: none;
    
}

a:link {
    
    color: #000000;
}

a:hover{
    
    color: #8898BC;
}

a:visited{
    
    color: #fff;
}


/* Botones*/

#buttom1, #buttom2, #buttom3, input[type="submit"] {
background-color: #8898BC;
font-family: arial ;
cursor:pointer;
border: 1px solid #B8C5D6;
color:#FFF;
width:90px;

	}

#buttom1 {
width:100px;

}

#buttom2 {
width:300px;
height: 30px;
font-size: 20px;


}


/* Imagenes*/


div .left img {
  position: absolute 100%;
  top:  50%; 
  left: 50%;
}

div .header img {
  position: absolute 100%;
  top:  50%; 
  left: 50%;
}


	
			*{
			font-size: 14px;
			font-family: sans-serif;
		}
		form.registro{
		    background: none repeat scroll 0 0 #F1F1F1;
		    border: 1px solid #DDDDDD;
		    margin: 0 auto;
		    padding: 20px;
		    width: 300px;
		}
		form.registro div {
		    margin-bottom: 15px;
		    overflow: hidden;
		}
		form.registro div label {
		    display: block;
		    float: left;
		    line-height: 25px;
		}
		form.registro div input[type="text"], form.registro div input[type="password"] {
		    border: 1px solid #DCDCDC;
		    float: right;
		    padding: 4px;
		    width: 300px;
		}
		form.registro div input[type="submit"] {
		    background: none repeat scroll 0 0 #DEDEDE;
		    border: 1px solid #C6C6C6;
		    float: right;
		    font-weight: bold;
		    padding: 4px 20px;
		}
		.error{
			color: red;
		    font-weight: bold;
		    margin: 10px;
		    text-align: center;
		}